---
import CardEvent from '../components/CardEvent';
import Title from '../components/Title';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ACM R15E - Events">
  <section class="flex flex-col justify-center items-center text-center gap-12">
    <Title title="Events">
        <p>The Far Eastern University - Institute of Technology Association for Computing Machinery (FEU Tech ACM) Student
          Chapter was established in the Philippines in 2007. Now on its fifteenth year, FEU Tech ACM bigger than ever, is
          holding a week-long event entitled, <b>R15E</b>, a Computer Science Convention, with a theme of <b>Forging
            Changemakers in the Computing Industry.</b></p>
        <p>The week-long event is on <b>June 27 - July 2, 2022</b> and it offers various talks and competitions focused in
          the computing industy, all of which will be held virtually. As FEU Tech ACM celebrates its growth, the
          organization will also be expressing its gratitude by conducting an outreach activity for a chosen beneficiary
          by providing a website that highlights them.</p>
    </Title>
    <div class="2xl:w-2/3">
        <CardEvent title="Day 0 DESIGN" id="day0" dateText="June 23 - 29">
          <ul class="list-disc mt-4 mb-8 text-left">
            <li class="mb-4 text-lg text-gray-300"><b>DESIGN</b> is the <b>Web Development Contest and Outreach</b> activity that revolves in the creation of a website for our beneficiary <b>For Our Farmers PH, Inc.</b> The winner of the competition will have their website used by our beneficiary.</li>
            <li class="mb-4 text-lg text-gray-300">The submission of entries is open until <b>June 29, 2022</b> and winners will be announced on <b>July 2, 2022.</b>  Interested participants may <a class="font-bold underline" href="https://bit.ly/ACMR15E_DESIGNMECHANICS">read the mechanics here</a> to know more about the competition.</li>
          </ul>
        </CardEvent>
        <CardEvent title="Day 1 DEFINE" id="day1" dateText="June 27">
          <ul class="list-disc mt-4 mb-8 text-left text-lg text-gray-300">
            <li class="mb-4"><b>DEFINE</b> is a <b>series of talks</b> focusing on topics about the computing field. Topics for these talks include <b>Internet of Things, Artificial Intelligence, Cloud Computing, and Blockchain Technology.</b></li>
            <ul class="list-disc ml-8">
              <li>Get ready as Mr. <b>Jambert De Guzman</b> reveals the latest in tech by their talk <b>Feed Your Mind</b>: <b>Latest Breakthroughs in Tech</b>!</li>
              <li>Get to know SAP by our speaker Mr. <b> Michael Baloran</b>'s talk <b>All About SAP!</b></li>
              <li>Let's step onto the field of Cloud Computing with Ma'am <b>Marie Farah Dela Cruz</b>'s talk <b>Career Path on Cloud Computing - Women in Tech</b>!</li>
              <li>Then, let's fly to the moon with Mr. <b>John Mark Fernandez</b>'s talk <b>The Rise of Tokenomics: Blockchain Technology</b>!</li>
            </ul>
            <li>Check this day's livestream archive <a class="font-bold underline" href="https://fb.watch/gX7vDbWh7V/">here!</a></li>
          </ul>
        </CardEvent>
        <CardEvent title="Day 2 DECODE" id="day2" dateText="June 28">
          <ul class="list-disc mt-4 mb-8 text-left text-lg text-gray-300">
            <li class="mb-4"><b>DECODE</b> is a <b>webinar-workshop</b> that discuss <b>technologies and its development</b>. With how expansive the development landscape is for application developers, this webinar-workshop hopes to kickstart young minds in building an application apt for the current suite of technologies used today.</li>
            <ul class="list-disc ml-8">
              <li>Let's start by exploring <b>The Tech World with Big Data Analytics</b> by Dr. <b>Jim Jansen!</b></li>
              <li>Get your triple A game with <b>The AAA: All About APIs</b> by Mr. <b>Kok Koon “KK” Gan!</b></li>
              <li>Ace your IT interviews with <b>Be Future Ready! - How to Ace your I.T. Interview by Mr. Franz Gerardo!</b></li>
              <li>Get coding with <b>Swift</b> (with Ma'am <b>Carla Berdin</b>) for iOS development, and <b>Native Java</b> (with Mr. <b>Adrian Tabay</b>) for Android Development - choose your pick!</li>
            </ul>
            <li>Check this day's livestream archive <a class="font-bold underline" href="https://fb.watch/gX7wpTTT_w/">here!</a></li>
          </ul>
        </CardEvent>
        <CardEvent title="Day 3 DEFY" id="day3" dateText="June 29">
          <ul class="list-disc mt-4 mb-8 text-left">
            <li class="mb-4 text-lg text-gray-300"><b>DEFY</b> is a <b>Quiz Bee Competition</b> exclusive to <a class="font-bold underline" href="https://bit.ly/R15E_QUIZBEEMECHANICS">all bona fide college undergraduate students.</a> These individual students are tested for their <b>Computer Science/Information Technology knowledge</b> for a chance to win big prizes.</li>
            <li class="mb-4 text-lg text-gray-300">Interested participants may <a class="font-bold underline" href="https://bit.ly/ACMR15E_DESIGNMECHANICS">read the mechanics here</a> to know more about the quiz bee.</li>
            <li class="mb-4 text-lg text-gray-300">Check this day's livestream archive <a class="font-bold underline" href="https://fb.watch/gX7ygro9bZ/">here!</a></li>
          </ul>
        </CardEvent>
        <CardEvent title="Day 4 DECRYPT" id="day4" dateText="June 30">
          <ul class="list-disc mt-4 mb-8 text-left">
            <li class="mb-4 text-lg text-gray-300"><b>DECRYPT</b>, also known as <b>Tech Trials</b>, is a <b>puzzle escape room series</b> by FEU Tech ACM where three to five members are tasked to solve various puzzles, get clues, and get to the bottom of the mysteries given to them.</li>
            <li class="mb-4 text-lg text-gray-300">Set in the future, this iteration of Tech Trials drops our participants on a search to find a solution over the growing worries of your people.</li>
            <li class="mb-4 text-lg text-gray-300">Interested participants may <a class="font-bold underline" href="https://bit.ly/ACMR15E_DESIGNMECHANICS">read the mechanics here</a> to know more about Tech Trials.</li>
          </ul>
        </CardEvent>
        <CardEvent title="Day 5 DIVERGE" id="day5" dateText="July 01">
          <ul class="list-disc mt-4 mb-8 text-left">
            <li class="mb-4 text-lg text-gray-300"><b>DIVERGE</b> is a day where everyone gets to <b>interact with our partner companies</b> on <b>Discord!</b> Looking for an internship? Want to ask certain companies about career opportunities? Play games? Anything can happen on <b>DIVERGE!</b></li>
            <li class="mb-4 text-lg text-gray-300">If you're not joined on our <b>Discord server</b> yet, make sure to head on <a class="font-bold underline" href="https://bit.ly/ACMR15E_DISCORD">here</a>! Companies will be setting up voice channels for you to join in from 10:00am to 5:00pm.</li>
            <li class="mb-4 text-lg text-gray-300">In addition, additional talks from various companies will also be held from <b>3:00pm to 7:00pm</b>.</li>
            <li class="mb-4 text-lg text-gray-300">Check this day's livestream archive <a class="font-bold underline" href="https://fb.watch/gX7AMGBx2G/">here!</a></li>
          </ul>
        </CardEvent>
        <CardEvent title="Day 6 DEPLOY" id="day6" dateText="July 02" isLast>
          <ul class="list-disc mt-4 mb-8 text-left">
            <li class="mb-4 text-lg text-gray-300"><b>DEPLOY</b> is a <b>Panel Discussion</b> where speakers discuss <b>career opportunities</b> for you to dip your toes in!</li>
            <li class="mb-4 text-lg text-gray-300">Get ready for Ma'am <b>Jonah Belle Baldero</b>'s talk <b>Hack the Computer Science Industry</b>: <b>Unlock Your Future Career</b> for their tips on future endeavors!</li>
            <li class="mb-4 text-lg text-gray-300">Get inspired as <b>five panelists</b> share their success stories on the field of <b>Computer Science!</b></li>
            <li class="mb-4 text-lg text-gray-300">Last, but not the least, to <b>give a round of applause to those who reigned supreme in the week's competitions</b>, as well as to grab the opportunity for the <b>giveaway and raffle winners!</b></li>
            <li class="mb-4 text-lg text-gray-300">Check this day's livestream archive <a class="font-bold underline" href="https://fb.watch/gX7OTwtdhU/">here!</a></li>
          </ul>
        </CardEvent>
    </div>
  </section>
</Layout>