---
import Title from '../components/Title';
import Layout from '../layouts/Layout.astro';
---

<Layout title="ACM R15E - FAQ">
    <section class="flex flex-col justify-center items-center text-center gap-12">
		<div class="flex flex-col gap-4">
			<Title
				title="FAQ"
				description={`Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vulputate
					dolor et lorem cursus, non finibus nisi fermentum. Aenean est justo,
					varius ut ultrices et, venenatis at ligula. Nam nunc lorem, dapibus a
					pretium id, suscipit eu nisi.`}/>
		</div>
    </section>
</Layout>