:root {
    --color-text: #ADADAD;
    --color-bg: #03122F;
  }

  html {
    font-family: 'Roboto', ui-sans-serif, system-ui;
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .background {
    width: 100%;
    height: 100%;
    background: #03122F;
  }

  $particleSize: 20vmin;
  $animationDuration: 6s;
  $amount: 20;

  .background span {
    width: $particleSize;
    height: $particleSize;
    border-radius: $particleSize;
    backface-visibility: hidden;
    position: absolute;
    animation-name: move;
    animation-duration: $animationDuration;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    // add colors here
    $colors: (#203A67, #172C4E);

    @for $i from 1 through $amount {
      &:nth-child(#{$i}) {
        color: nth($colors, random(length($colors)));
        top: random(100) * 1%;
        left: random(100) * 1%;
        animation-duration: calc(random($animationDuration * 10) / 10) * 1s + 60s;
        animation-delay: calc(random(($animationDuration + 10s) * 10) / 10) * -1s;
        transform-origin: (random(50) - 25) * 1vw (random(50) - 25) * 1vh;
        $blurRadius: (random() + 0.5) * $particleSize * 0.5;
        $x: if(random() > 0.5, -1, 1);
        box-shadow: ($particleSize * 2 * $x) 0 $blurRadius currentColor;
      }
    }
  }

  @keyframes move {
    100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  .gold-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-riseDarkGold to-riseLightGold;
  }

  @font-face {
    font-family: 'Vogue';
    src: url("/fonts/Vogue.ttf") format("truetype");
  }

  @font-face {
    font-family: 'Cannu';
    src: url("/fonts/CannuRegular.ttf") format("truetype");
  }

  @font-face {
    font-family: 'BebasNeue';
    src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  }