:root {
  --marquee-min-from: 66%;
  --marquee-min-to: -34%;
}

@media (max-width: 1367px) {
  :root {
    --marquee-min-from: 47%;
    --marquee-min-to: -53%;
  }
}

.marquee {
  height: 64px;
  position: relative;
  overflow: hidden;
  min-width: 200vw;
  animation: marqueemove 30s linear infinite;
  display: flex;
  justify-content: space-between;
  // transform: translateX(66%);
}

@keyframes marqueemove {
  0% {
    transform: translateX(var(--marquee-min-from));
  }
  100% {

    transform: translateX(var(--marquee-min-to));
  }
}