---
import Navbar from '../components/Navbar.jsx'
import Footer from '../components/Footer.jsx'
import '../style/main.scss'
export interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="FEU Tech ACM, Chris Delos Reyes">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <title>{title}</title>
</head>

<body>
  <div class="background fixed -z-10 overflow-hidden">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <Navbar baseUrl={'/R15E/'} client:load />
  <main class="main-container">
    <slot />
  </main>
  <Footer />
</body>

</html>